In [37]:
from bs4 import BeautifulSoup as BS
import requests
import json
import pandas as pd
import numpy as np

In [38]:

page=requests.get('https://www.worldometers.info/world-population/population-by-country/')

In [39]:
soup=BS(page.text,'html')

In [40]:
tb=soup.find('table')

In [41]:
country=[];count=[]
tr=tb.find_all('tr')
for i in range(1,len(tr)):
    na=tr[i].find_all('td')
    country.append(str(na[1].find('a'))[str((na[1].find('a'))).index('>')+1:-4])
    count.append(int((str(na[2])[str(na[2]).index('>')+1:-5]).replace(',','')))
    #population_df[str(na[1].find('a'))[str((na[1].find('a'))).index('>')+1:-4]]=((str(na[2])[str(na[2]).index('>')+1:-5]).replace(',',''))

In [45]:
final=pd.DataFrame({str(country):count})

In [47]:
{country:count}

TypeError: unhashable type: 'list'

In [34]:
final=pd.concat((pd.DataFrame(country),pd.DataFrame(count)),axis=1)

In [36]:
final.set_index()

,0,1,2,3,4,5,6,7,8,9,...,225,226,227,228,229,230,231,232,233,234
0,China,India,United States,Indonesia,Pakistan,Brazil,Nigeria,Bangladesh,Russia,Mexico,...,Wallis &amp; Futuna,Nauru,Saint Barthelemy,Saint Helena,Saint Pierre &amp; Miquelon,Montserrat,Falkland Islands,Niue,Tokelau,Holy See
0,1439323776,1380004385,331002651,273523615,220892340,212559417,206139589,164689383,145934462,128932753,...,11239,10824,9877,6077,5794,4992,3480,1626,1357,801